body {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10rem;
}

.color-home a {
	color: #2db470;
}

.color-home h2, .color-home h3, .color-home h4, .color-home h5, .color-home h6 {
	color: #2db470;
}

.color-inside-1 a {
	color: #164490;
}

.color-inside-1 h2, .color-inside-1 h3, .color-inside-1 h4, .color-inside-1 h5, .color-inside-1 h6 {
	color: #164490;
}

.color-5oh8crew a {
	color: #164490;
}

.color-5oh8crew h2, .color-5oh8crew h3, .color-5oh8crew h4, .color-5oh8crew h5, .color-5oh8crew h6 {
	color: #164490;
}

section {
	padding: 4rem;
}

@media (max-width: 767.98px) {
	section {
		padding: 2rem;
	}
}

a:hover {
	color: #164490;
	text-decoration: underline !important;
}

.bg-light-green {
	background-color: #ebf2ee;
}

.bg-light-blue {
	background-color: #ebeff2;
}

.bg-primary {
	background: #1abb68; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1abb68 10%, #084bb8 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1abb68 10%,#084bb8 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1abb68 10%,#084bb8 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abb68', endColorstr='#084bb8',GradientType=1 ); 
    color: #ffffff;
}

.bg-inside-1 {
	background: #bb1a7b; /* Old browsers */
    background-image: url('img/spotify-logo-bg.png'), linear-gradient(45deg, #95bf47 20%,#5e8e3e 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #ffffff;
}

.bg-5oh8 {
	background: #bb1a7b; /* Old browsers */
    background: -moz-linear-gradient(45deg, #bb1a7b 20%, #164490 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #bb1a7b 20%,#164490 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #bb1a7b 20%,#164490 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb1a7b', endColorstr='#164490',GradientType=1 ); 
    color: #ffffff;
}

.navbar {
    box-shadow: 0 0 15px #c3c3c3;
	color: #2db470;
	padding: 2rem 1rem;
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 0 2rem;
	}
}

#site-header {
	display: flex;
}

#site-id {
	display: flex;
	flex: 0 1 auto;
}

#site-logo {
	flex: 1 0 auto;
	padding-right: 1rem;
}

@media (max-width: 767.98px) {
	#site-logo {
		display: none;
	}
}

#site-titles {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	justify-content: center;
	line-height: 1.6rem;
}

#site-title {
	font-size: 1.6rem;
	font-weight: bold;
}

#site-subtitle {
	color: #999;
	font-size: .9rem;
}

header {
	padding: 11rem 0 3rem;
}

@media (max-width: 767.98px) {
	header {
		padding: 10rem 0 2rem;
	}
}

#services {}

	#services h2 {
		font-size: 1.4rem;
	}

	#services h2:nth-child(3) {
		margin-top: 1.5rem;
	}

	#services p {
		font-size: .9rem;
	}

	#services .img-feature {
		text-align: center;
	}

	#services .img-feature img {
		height: auto;
		margin-bottom: 1rem;
		max-width: 320px;
		width: 100%;
	}

	#services .col1 {
		text-align: right;
	}

	@media (max-width: 767.98px) {
		#services .col1 {
			text-align: left;
		}
	}

	#services .col1 svg {
		color: #0b2d1c;
		font-size: 1.6rem;
		margin-left: .8rem;
	}

	#services .col3 svg {
		color: #0b2d1c;
		font-size: 1.6rem;
		margin-right: .8rem;
	}

	@media (max-width: 767.98px) {
		#services .col1 svg {
			color: #0b2d1c;
			float: left;
			font-size: 1.6rem;
			margin-left: 0;
			margin-right: .8rem;
		}
	}

	#about img {
	    border: 1px solid #2db470;
	    padding: 2px;
		border-radius: 6px;
		float: right;
		margin-left: 1rem;
		max-width: 100%;
		width: 30%;
	}

	#contact {}

		#contact p {
			font-size: 1.6rem;
		}

		#contact h2 {
			font-size: 1.3rem;
		}

		#contact h2, #contact p {
			text-align: center;
		}